{include file='public/meta' /}


<title>{$title|default='页面标题'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$desc|default='页面描述'}">

</head>
<body>


{include file='public/header' /}



<div class="container-fluid">

    <div class="container" style="margin-top:10px;margin-bottom: 10px;">




        <div class="row" style="background-color: #fefefe;padding-top:20px;margin: 0px;margin-top: 10px; ">
            <div class="col-md-12">
                <!--客户中心-->





                <link rel="stylesheet" href="/kindeditor/themes/default/default.css" />
                <script charset="utf-8" src="/kindeditor/kindeditor-min.js"></script>
                <script charset="utf-8" src="/kindeditor/lang/zh_CN.js"></script>

                <script type="text/javascript" src="{__STATIC__}/js/PreviewImage.js"></script>
                <form class="form-horizontal" action="" enctype="multipart/form-data" method="post" onsubmit="return btnOK_onclick();">



                    <div class="form-group" style="margin-bottom: 66px;border-bottom: 1px solid #38AF87; ">
                        <label  class="col-sm-2 control-label" style="text-align: left;">编辑分类字段</label>
                        <div class="col-sm-10">




                            <a style="float: right;margin-bottom: 20px;" class="btn btn-success" href="{$fanhuiurl}"><span class="glyphicon glyphicon-menu-left"></span> 返回</a>
                        </div>
                    </div>



                    <input type="hidden" id="id" name="id" value="{$id}" />

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">字段名称<b class="xingb">*</b></label>
                        <div class="col-sm-8">

                            <input type="text" id="name" class="form-control inputbc" placeholder="请输入字段名称"   value="{$find.name}" name="name">
                        </div>
                    </div>
                  

 

                    <div class="form-group">

         

                        <label for="addtime" class="col-sm-2 control-label">时间<b class="xingb">*</b></label>
                        <div class="col-sm-3">

                            <input type="text" id="addtime" class="form-control inputbc" placeholder="请输入添加时间"   value="{$find.addtime|date='Y-m-d H:i:s'}" name="addtime">


                        </div>

                    </div>


                    <div class="form-group">


                       
                        <label for="type_id" class="col-sm-2 control-label">类型<b class="xingb">*</b></label>
                        <div class="col-sm-3">

                            <select  id="type_id" class="form-control inputbc"  name="type_id">
                                <option value="0" <?php if($find['type_id']){?> <?php }else{ ?>selected="selected"<?php } ?>  >请选择字段类型</option>
                                <?php
                             
                                 foreach($fieldtypeList as $k=>$v){ 
                                ?>
                                <option value="{$v.id}" <?php if($find['type_id'] == $v['id']){ ?> selected="selected"<?php }  ?>>{$v.name}</option>

                                <?php } ?>
                            </select>

                        </div>

                        <label for="catid" class="col-sm-2 control-label">选择分类<b class="xingb">*</b></label>
                        <div class="col-sm-3">

                            <select  id="cat_id" class="form-control inputbc"  name="cat_id">
                                <option value="0" <?php if($find['cat_id']){?> <?php }else{ ?>selected="selected"<?php } ?> >请选择分类</option>
                                <?php

          foreach($catlist as $k=>$v){ ?>
                                <option value="{$v.id}" <?php if($find['cat_id'] == $v['id']){ ?> selected="selected"<?php }  ?>  style="text-indent:{$v['count']*20}px;"> <neq name="v.count" value="1">| -- </neq> {$v.name}</option>

                                <?php } ?>
                            </select>


                            
                        </div>

                    </div>




                  
  
                    <div class="form-group">
                        <label for="paixu" class="col-sm-2 control-label">排序</label>
                        <div class="col-sm-8">

                            <input type="text" id="paixu" class="form-control inputbc" placeholder="排序"   value="{$find.paixu}" name="paixu">
                        </div>
                    </div>

                   


                     
                    <div>{:token_field()}</div>


 

                    <div class="form-group">

                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-8">
                            <button type="submit"  id="btnOK" class="btn btn-success" onclick="return btnOK_onclick()" >提交</button>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>

{include file='public/footer' /}

<script>

    jeDate({
        dateCell:"#addtime",
        format:"YYYY-MM-DD hh:mm:ss",
        isinitVal:true,
        isTime:true, //isClear:false,
        minDate:"2013-09-19 00:00:00",
        okfun:function(val){alert(val)}
    });

 
 
    $("document").ready(function() {

 
      


    });


    function btnOK_onclick() {
        var name = $("#name").val();

        if (name == "")
        {
            alert("字段名称不能为空");
            $("#name").focus();
            return false;
        }
        if ($("#type_id").val() == 0 || $("#type_id").val() == "")
        {
            alert("请选择字段类型");
            $("#type_id").focus();
            return false;
        }
     
        if ($("#cat_id").val() == 0 || $("#cat_id").val() == "")
        {
            alert("请选择所属分类");
            $("#cat_id").focus();
            return false;
        }

        return true;
    }

 

</script>

</body>
</html>
