<style>
 
 .page-header h1{
    font-size: 16px;
font-weight: 700;
color: #333333; 
   }
   .page-header h1 small{
     margin-left: 10px;
   }
    
   
    ._hot-articles-list {
      padding: 0px;
width: 100%;
height: auto;
border: 0px solid #ebebeb;
border-radius: 7px;
    }

     ._hot-articles-list ._hot-articles-titile {
      margin-bottom: 15px;
    }

   

     .info-detail {
      padding: 0px;
width: 100%;
height: auto;
border: 0px solid #ebebeb;
border-radius: 7px;
    }

     .info-detail .info-cell {
      width: 100%;
      display: flex;

    
    }

     .info-detail .info-cell .info-cell-img {
      position: relative;
      width: 88px;
      height: 88px;
      overflow: hidden; 
      margin-right: 12px;
    }
 
     .info-detail .info-cell .info-cell-img img {
       width: 100%;
    }

     .info-detail .info-cell img:hover {
      cursor: pointer;
    }

    .info-detail .info-cell .info-contennt{
      flex: 1;
    }

     .info-detail .info-cell .info-contennt .info-title:hover {
      color: #7d9f12;
    }

     .info-detail .info-cell .info-contennt .info-title {
      cursor: pointer; 
     
      font-size: 16px; 
      font-weight: 500;
      text-align: left;
      color: #333333;
      line-height: 22px;
      
    }

     .info-detail .info-cell .info-contennt .info-des:hover {
      cursor: pointer;
      color: #7d9f12;
    }

    .info-detail .info-cell .info-contennt .info-des {
      margin-top: 10px; 
      font-size: 13px; 
      font-weight: 400;
      text-align: left;
      color: #666666;
      line-height: 18px;
      overflow:hidden;text-overflow:ellipsis;
    }

     

     .info-detail .info-hr {
      margin: 17px 0;
      border-bottom: 1px solid #ebebeb;
    }


    ._hot-articles {
      width: 100%;
    }

    ._hot-articles h3 {
      font-size: 16px;

      font-weight: 700;
      color: #333333;
      margin-bottom: 25px;
    }

    ._hot-articles ._hot-articles-titile {
      width: 100%;
      display: block;
      margin-bottom: 9px;
      height: 20px;
      font-size: 14px;

      font-weight: 400;
      text-align: left;
      color: #333333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
    }

    ._hot-articles ._hot-articles-order {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      width: 16px;
      height: 16px;
      line-height: 16px;
      font-size: 10px;
      text-align: center;
      opacity: 1;
      background: #999;
      border-radius: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #FFF;
    }

    ._hot-articles ._hot-articles-order1 {
      background: #ff6500;
    }

    ._hot-articles ._hot-articles-order2 {
      background: #ff8a00;
    }

    ._hot-articles ._hot-articles-order3 {
      background: #ffb100;
    }

    ._hot-articles ._hot-articles-titile:last-child {
      margin-bottom: 0;
    }

    .m._hot-articles {
      width: 9.12rem;
      margin: auto;
      text-align: center;
    }


       /* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) { 

.info-detail .info-cell .info-cell-img {
    position: relative;
    width: 150px;
    height: 150px;
    margin-right: 22px;
  }

  .info-detail .info-cell .info-contennt .info-des {
    margin-top: 20px;
    overflow: hidden;
 
    font-size: 14px;

    font-weight: 400;
    text-align: left;
    color: #666666;
    line-height: 32px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal;
  }
}

  .fl {
    float: left;
  }
  .topbar{
    display: none;
    position: relative;
    z-index: 3000; 
   
    height: 66px;
    border-bottom: 1px solid #7d9f12;
  }
.logo {
    margin: 0;
    padding-left: 10px;
    display: block; 
    float: left;
}
.logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 66px;
    line-height: 66px;
}
.logo img{
  height: 100%;
}

.menu-div{
  margin-left: 30px;
position: relative;
padding: 14px 0;
float: left;
}
.menu-ul{
  list-style-type: none;
margin: 0;
position: relative;
}
.menu-item {
    height: 34px !important;
    line-height: 34px !important;
    
}
ol, ul, li {
    list-style: none;
}
.menu-item a {
    font-weight: 400;
    display: block;
    height: 34px;
    line-height: 34px;
    padding: 0px 14px;
    padding-left: 14px;
    color: #4a8c51;
    white-space: nowrap;
    background-color: #f8f8f8;
}
.menu-item a:hover{
  color: #64cf6f;

}
.active a{
  background-color: #7d9f12;
  color:#fff;
}

.fr{float: right;}

 

   /* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */

.m-topbar{
  display: block;
  position: relative;
    z-index: 3000; 
    display: block;
    height: 66px;
    border-bottom: 1px solid #7d9f12;
}
.m-topbar .menu{
  display: block;
  float: right;
  height: 66px;
  line-height: 66px;
  width: 66px;
  text-align: center;
  font-size: 28px;
  color:#7d9f12;
}

.menu_content{
  display: none; 
  position: fixed;
right: 0px;
z-index: 999;
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) { 
  .topbar{
    display: block;
  }
  .m-topbar{
    display: none;
  }

  .logo {
    margin: 0;
    padding-left: 20px;
    display: block; 
    float: left;
}

.menu-item {
    height: 34px !important;
    line-height: 34px !important;
    float: left;
}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
 

}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) { 
  
 }

</style>

<div class="m-topbar">
  <div class="fl">
    <div class="logo">				
      <a href="{$kvlist['网址']|default=''}">
        <img src="{$kvlist['前台logo']|default='固安大树'}" />
      </a>
    </div>
   </div> 

 <a href="javascript:" class="menu" id="menu"><span class="glyphicon glyphicon-th-list"></span></a> 
</div>

<div class="menu_content">
  <ul class="menu-ul">
    <li class="menu-item <?php if($menuname=='首页'){ ?> active <?php } ?>" >
    <a  href="/" >首页</a>
    </li>
    <?php 
    $menulist = getContentListByCatId(1); //根据分类ID获取内容列表
    foreach($menulist as $k=>$v){ 
      ?>
      <li class="menu-item <?php if($menuname==$v['title']){ ?> active <?php } ?>">
        <?php if($v['link_url']){ ?>
          <a  href="{$v.link_url}">{$v.title}</a>
        <?php }else{ ?>
          <a  href="{:url('index/dynamic/index',['id'=>$v['id']])}">{$v.title}</a>
        <?php } ?> 
      </li>
    <?php   } ?>

    <?php if($uid){ ?>
      <li class="menu-item">
        <?php if($avatar){ ?>
          <a  href="{:url('index/user/editprofile')}"><img src="{$avatar}" width="20" />{$nickname}</a>
        <?php }else{
          ?>
          <a  href="{:url('index/user/editprofile')}">{$nickname}</a>
          <?php
        } ?>
     
   
      <li class="menu-item">
      <a href="{:url('index/login/logout')}">退出</a>
    </li>
       
    <?php }else{
      ?>
      <li class="menu-item active">
        <a  href="{:url('index/login/index')}">登录</a>
      </li>
       
      <?php
    } ?>


  </ul>
</div>
<div class="topbar">
  <div class="fl">
    <div class="logo">				
      <a href="{$kvlist['网址']|default=''}">
        <img src="{$kvlist['前台logo']|default='固安大树'}" />
      </a>
    </div>
    <div  class="menu-div">
      <ul class="menu-ul">
        <li class="menu-item <?php if($menuname=='首页'){ ?> active <?php } ?>" >
        <a  href="/" >首页</a>
        </li>
        <?php 
       
        foreach($menulist as $k=>$v){ 
          ?>
          <li class="menu-item <?php if($menuname==$v['title']){ ?> active <?php } ?>">
            <?php if($v['link_url']){ ?>
              <a  href="{$v.link_url}">{$v.title}</a>
            <?php }else{ ?>
              <a  href="{:url('index/dynamic/index',['id'=>$v['id']])}">{$v.title}</a>
            <?php } ?> 
          </li>
        <?php   } ?>

   
      </ul>
    </div>
  </div>
  <div class="fr">
    <div  class="menu-div">
      <ul class="menu-ul">

        <?php if($uid){ ?>
          <li class="menu-item">
            <?php if($avatar){ ?>
              <a  href="{:url('index/user/editprofile')}"><img src="{$avatar}" width="20" />{$nickname}</a>
            <?php }else{
              ?>
              <a  href="{:url('index/user/editprofile')}">{$nickname}</a>
              <?php
            } ?>
         
          </li>
          <li class="menu-item">
            <a href="{:url('index/login/logout')}">退出</a>
          </li>
        <?php }else{
          ?>
          <li class="menu-item active">
            <a  href="{:url('index/login/index')}">登录</a>
          </li>
           
          <?php
        } ?>

      </ul>
    </div>
 
  </div>		
</div>

<script type="text/javascript">

$(function(){

  $("#menu").click(function(){
    $(".menu_content").toggle();
  });
});
    
</script> 