<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加内容</title>
    <link rel="stylesheet" href="{__STATIC_PATH}admin/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="{__STATIC_PATH}admin/css/public.css" media="all">
</head>

<body>


    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">内容添加</li>

        </ul>
        <div class="layui-tab-content">




            <form class="layui-form" action="">

                <div class="layui-form-item">
                    <label class="layui-form-label">*内容名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" required lay-verify="required" autocomplete="off"
                            placeholder="请输入内容名称" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">*内容分类</label>
                    <div class="layui-input-inline">
                        <select name="cat_id" id="classif"></select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">内容关键词</label>
                    <div class="layui-input-inline">
                        <input type="text" name="keywords" lay-verify="keywords" autocomplete="off"
                            placeholder="请输入内容关键词" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">描述摘要</label>
                    <div class="layui-input-block">
                        <textarea id="description" name="description"></textarea>
                    </div>
                </div>



                <div class="layui-form-item">
                    <label class="layui-form-label">添加时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="create_time" id="create_time" lay-verify="create_time"
                            autocomplete="off" placeholder="请输入添加时间" class="layui-input">
                    </div>
                </div>




                <div class="layui-form-item">
                    <label class="layui-form-label">外链接（如需要外链填写外链接，默认为空）</label>
                    <div class="layui-input-inline">
                        <input type="text" name="link_url" lay-verify="link_url" autocomplete="off"
                            placeholder="请输入内容外链接" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">浏览量</label>
                    <div class="layui-input-inline">
                        <input type="text" name="view" lay-verify="view" autocomplete="off" placeholder="请输入内容浏览量,选填"
                            class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">来源</label>
                    <div class="layui-input-inline">
                        <input type="text" name="source" lay-verify="source" autocomplete="off" placeholder="请输入内容来源,选填"
                            class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">来源链接</label>
                    <div class="layui-input-inline">
                        <input type="text" name="source_url" lay-verify="source_url" autocomplete="off"
                            placeholder="请输入来源链接,选填" class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">上传封面图</label>
                    <div class="layui-input-block">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="btn_show">上传图片</button>
                            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                预览（图片已经上传到服务器，如果不用请点右上角删除掉）：
                                <div class="layui-upload-list" id="show_img" value="">

                                </div>
                                <div style="clear: both;"></div>
                            </blockquote>
                        </div>

                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">内容详情</label>
                    <div class="layui-input-block">
                        <textarea id="content" style="display: none;" value=""></textarea>
                    </div>
                </div>
                <div>{:token_field()}</div>
                <div class="layui-form-item layui-form">

                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="dynamic">立即提交</button>

                    </div>
                </div>
            </form>

        </div>
    </div>



    <script src="{__STATIC_PATH}admin/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
    <script src="{__STATIC_PATH}admin/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="{__STATIC_PATH}admin/js/uploads.js" charset="utf-8"></script> 
    <script src="{__STATIC_PATH}admin/js/common.js" charset="utf-8"></script>
    <script>
        function _classif() {
            // res 分类数据 先期模拟
            let temps = '<option value="0">-| 不分类</option>';
            var data = {$dynamicCats|raw};


        for (let item of data) {
            temps += `<optgroup  data-id="${item["id"]}">`;
            var space = "";
            var line = "";
            for (i = 0; i < item.count; i++) {
                space += '';
                line += "-";
            }
            temps += `<option  data-id="${item['id']}" value="${item['id']}"> ${space}${line}| ${item["name"]}</option>`
            // if (item['children'] && item['children'].length > 0) {
            //     for (let child of item['children']) {
            //         temps += `<option  data-id="${child['id']}" value="${child['id']}"> &nbsp;&nbsp;&nbsp;--| ${child["name"]} </option>`
            //     }
            // }
            temps += `</optgroup>`;
        }
        $('#classif').html(temps);
         
        }

        function isEmpty(obj) {
            return !Object.getOwnPropertyNames(obj).length && !Object.getOwnPropertySymbols(obj).length
        }
        layui.use(['form', 'layedit', 'laydate', 'element'], function () {
            var form = layui.form
                , layedit = layui.layedit
                , laydate = layui.laydate
                , $ = layui.$
                , element = layui.element;//Tab的切换功能，切换事件监听等 需要依赖 element模块
            _classif(); //初始化分类

            form.render('select');
            laydate.render({
                elem: '#production_time'
            });
            layedit.set({
                uploadImage: {
                    url: '{:url("image/layUpload")}',
                    type: 'post'
                }
            });
            let edit_index = layedit.build('content');





            $("#btnSubmit").on("click", function () {
                $(".buttons").click();
            });

            //获得图片路径
            function getDivImgs(idstr) {
                $srcstr = "";
                $("#" + idstr + " img").each(function () {
                    if ($srcstr == "") {
                        $srcstr = $(this).attr("src");
                    } else {
                        $srcstr += "," + $(this).attr("src");
                    }
                });
                return $srcstr;
            }

            //监听提交
            form.on('submit(dynamic)', function (data) {
                if (data.field.title == "") {
                    layer.msg("内容名称不能为空");
                    return false;
                }


                data.field.pic_path = getDivImgs("show_img");
                data.field.content = layedit.getContent(edit_index);



                let dynamic_data = data.field;
                console.log(dynamic_data); //这个data就是表单的值 包含以下值

                url = '{:url("dynamic/save")}';
                //发送ajax请求
                layObj.post(url, dynamic_data, (res) => {
                    if (res.status == 1) {
                        layer.msg("内容新增成功");
                        window.location = "{:url('index')}";
                    } else {
                        layer.msg("内容新增失败");
                    }

                });
                return false;
            });


        });


    </script>
</body>

</html>